<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>193781869271-022attdo7n65udvoh2vuvaejd0e62i28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193781869271-022attdo7n65udvoh2vuvaejd0e62i28</string>
	<key>API_KEY</key>
	<string>AIzaSyDwrssFqlC5yXOxTq5Rh28PeM8QOTx00Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>193781869271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quintin.Complete-It</string>
	<key>PROJECT_ID</key>
	<string>complete-it-9984b</string>
	<key>STORAGE_BUCKET</key>
	<string>complete-it-9984b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:193781869271:ios:2bbe294961033ebd</string>
	<key>DATABASE_URL</key>
	<string>https://complete-it-9984b.firebaseio.com</string>
</dict>
</plist>