<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complete It.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CompleteItWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E85697B51F2FE27E004B6E4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87DA5C11F11DC34007F0CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87DA5D81F11DC34007F0CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87DA5E31F11DC34007F0CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
